.swiperButtonNext,
.swiperButtonPrev {
  color: white;
  position: absolute;
  top: 62%;
  z-index: 10;
}

.swiperButtonNext::after,
.swiperButtonPrev::after {
  font-size: 24px;
}

@media (max-width: 992px) {
  .swiperButtonNext {
    right: 7px;
  }

  .swiperButtonPrev {
    left: 7px;
  }
}

@media (min-width: 992px) {
  .swiperButtonNext {
    right: 0;
    transform: translateX(-100%);
  }

  .swiperButtonPrev {
    left: 0;
    transform: translateX(100%);
  }
}
