.blackBlurTitle {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 1000px;
  max-width: 100vw;
  height: 300px;
  transform: translate(50%, 50%);
  background-image: radial-gradient(
    closest-side,
    rgba(0, 0, 0, 0.8) 30%,
    transparent
  );
}

.blackBlurLinks {
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 100vw;
  height: 250px;
  transform: translate(50%, 50%);
  background-image: radial-gradient(
    closest-side,
    rgba(0, 0, 0, 0.6) 10%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.1) 80%,
    transparent
  );
}

@media (max-width: 768px) {
  .black-blur-title,
  .black-blur-links {
    display: none;
  }
}
