.swiperButtonNext,
.swiperButtonPrev {
  color: white;
  position: absolute;
  top: 62%;
  z-index: 10;
}

.swiperButtonNext::after,
.swiperButtonPrev::after {
  font-size: 24px;
}

@media (max-width: 992px) {
  .swiperButtonNext {
    right: 15px;
  }

  .swiperButtonPrev {
    left: 15px;
  }
}

@media (min-width: 992px) {
  .swiperButtonNext {
    right: 6%;
  }

  .swiperButtonPrev {
    left: 6%;
  }
}
