@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.tx-shadow-white {
  text-shadow: "2px 3px 3px rgba(200,200,200,0.9)";
}

.tx-shadow-black {
  text-shadow: "2px 3px 3px rgba(0,0,0,0.9)";
}

.box-shadow-white-soft {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}
